.btn {
    padding: 0.4rem .6rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    color: white;
    font-weight: 500;
    transition: 0.1s ease;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .6rem;
    font-size: .9rem;
}

.buttonGreen {
    background-color: var(--success-color);
}

.buttonAccent {
    background-color: var(--accent-color);
}

.buttonPrimary {
    background-color: var(--primary-color);
}

.buttonSecondary {
    color: var(--text-color);
}
.buttonSecondary:hover {
    color: white;
    background-color: var(--secondary-color);
}

.buttonCancel {
    background-color: var(--cancel-color);
    color: #2E2E2E;
}

.buttonRed {
    background-color: var(--danger-color);
}
