@import "tailwindcss";
.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
}

.title {
  text-align: left;
  font-weight: 600;
  color: var(--secondary-color);
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
}

.subtitle {
  font-size: .9rem;
  text-align: left;
  color: var(--gray-color);
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.formGroup label {
  font-size: 1rem;
  margin-bottom: 0.2rem;
  color: var(--text-color);
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnPrimary {
  width: 100%;
  background-color: var(--secondary-color);
  /* @apply bg-blue-600 ; */
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: var(--border-radius);
  font-size: 1.1rem;
  transition: background 0.1s ease;
  margin-bottom: 1rem;
  cursor: pointer;
}
.btnPrimary:hover {
  background-color: var(--secondary-hover-color);
}
.btnPrimaryLoading {
  background-color: var(--secondary-hover-color);
  cursor:not-allowed;
}
.registerText{
  text-align: center;
  font-size: 0.9rem;
}
.forgotLink {
  font-size: 0.9rem;
  /* @apply text-blue-600 ; */
  color: var(--secondary-color);
  text-decoration: none;
  text-align: right;
  transition: color 0.3s ease;
  margin-bottom: 2rem;
}
.forgotLink:hover {
  text-decoration: underline;
  color: var(--secondary-color);
  /* @apply text-blue-700 ; */
}