@import "tailwindcss";
.title {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.gridWrapper {
    @apply flex flex-row flex-wrap content-start gap-5 p-5 bg-white rounded-md border border-gray-200 ;
}

.moduleTitle{
    @apply text-base font-semibold m-2;
}