@import "tailwindcss";
.title {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

.gridWrapper {
    @apply flex flex-row flex-wrap content-start gap-4 pt-5 h-5/6;
}

.moduleTitle{
    @apply text-base font-semibold m-2;
}