@import "tailwindcss";
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./assets/fonts/JetBrainsMono-Italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-weight: 400; */  
  font-family: "Open Sans", sans-serif, "Departure Mono";
  /* font-family: 'JetBrains Mono', monospace; */
  font-size: .9rem;
  line-height: 1.4;
  letter-spacing:0.5px;
  --bg-color: #ebeff8;
  --bg-color-default: #ffffff;
  --card-bg: #ffffff;
  --text-color: #2E2E2E;
  --gray-color: #a7a7a7;
  --light-gray-color: #2e2e2e3a;
  --primary-color: #201E43;
  --secondary-color: #134B70;
  --secondary-hover-color: #0a5f97;
  --accent-color: #508C9B;
  --danger-color: #E74C3C;
  --light-danger-color: #f66656;
  --success-color: #2ECC71;
  --cancel-color: #B0B0B0;
  --border-radius: 4px;
  --box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  background-color: var(--bg-color-default);
  scroll-behavior: smooth;
  /* transition: all 0.2s ease; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
} */

#root {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: inherit;
  background-color: var(--bg-color);
  color: var(--text-color);
  /* transition: background-color 0.3s ease, color 0.3s ease; */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}