@import "tailwindcss";

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-weight: 400; */
  font-family: "Open Sans", sans-serif, "Departure Mono";
  font-size: clamp(1rem, 1.2vw, 1rem);
  line-height: 1.4;

  --bg-color: #ebeff8;
  --bg-color-default: #ffffff;
  --card-bg: #ffffff;
  --text-color: #2E2E2E;
  --gray-color: #a7a7a7;
  --light-gray-color: #c5c5c5;
  --primary-color: #201E43;
  --secondary-color: #134B70;
  --secondary-hover-color: #246896;
  --accent-color: #508C9B;
  --danger-color: #E74C3C;
  --success-color: #2ECC71;
  --cancel-color: #B0B0B0;
  --border-radius: 4px;
  --box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  background-color: var(--bg-color-default);
  scroll-behavior: smooth;
  /* transition: all 0.2s ease; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
} */

#root {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: inherit;
  background-color: var(--bg-color);
  color: var(--text-color);
  /* transition: background-color 0.3s ease, color 0.3s ease; */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}